#
# The service creates one single object adapter with the name of the
# service. The following line sets the endpoints for this adapter.
#

#Ice.Default.EncodingVersion=1.0

Ice.ACM.Server=0

MultiBoost.Endpoints=tcp -p           10001
CVAC_OpenCV_Detector.Endpoints=tcp -p 10002
BOW_Trainer.Endpoints=tcp -p          10003
BOW_Detector.Endpoints=tcp -p         10004
SBD_Trainer.Endpoints=tcp -p          10005
SBDTest.Endpoints=tcp -p           	  10006
CVAC_OpenCV_Trainer.Endpoints=tcp -p  10007
VideoValidatorForOpenCV.Endpoints=tcp -p 10008
CorpusService.Endpoints=tcp -p        10011
FileService.Endpoints=tcp -p          10110
ScreenShot_Detector.Endpoints=tcp -p  10012
ScreenShot_Training.Endpoints=tcp -p  10013

##############################################################################
# 0: silent, 1: warnings, 2: info, 3: debug, 4: debug_1, 5: debug_2 6: debug_3
CVAC.ServicesVerbosity = 4

#Directory to prepend file names with if the file names are not absolute
CVAC.DataDir = data

CVAC.ServicesVerbosity=5
#
# Warn about connection exceptions
#
#Ice.Warn.Connections=1
#Ice.Trace.Slicing=1
#
# Network Tracing
#
# 0 = no network tracing
# 1 = trace connection establishment and closure
# 2 = like 1, but more detailed
# 3 = like 2, but also trace data transfer
#
#Ice.Trace.Network=3

#
# Protocol Tracing
#
# 0 = no protocol tracing
# 1 = trace protocol messages
#
#Ice.Trace.Protocol=1

#
# Security Tracing
#
# 0 = no security tracing
# 1 = trace messages
#
#IceSSL.Trace.Security=1

#
# SSL Configuration
#
#Ice.Plugin.IceSSL=IceSSL:createIceSSL
#IceSSL.DefaultDir=../../../certs
#IceSSL.CertAuthFile=cacert.pem
#IceSSL.CertFile=s_rsa1024_pub.pem
#IceSSL.KeyFile=s_rsa1024_priv.pem

# Set maximum message size (not packet size, units in KBs)
Ice.MessageSizeMax=100000
